#profileHeader {
  display: grid;
  justify-content: center;
}

#profileDescriptions {
  padding-left: 20px;
  justify-content: space-evenly;
  height: inherit;
  display: flex;
  flex-direction: column;
}

#profileFooter {
  display: flex;
  justify-content: space-evenly;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 15px;
}

.icon {
  padding: 0.3rem;
  cursor: pointer;
}

.icon:hover {
  background: rgba(255, 255, 255, 1);
  color: #c1c0bd;
}
