.flexContainer {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.border {
  border: solid 1px #c0c0c0;
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}

.flexItem {
  background-color: #fff;
  margin: 15px;
  width: 100%;
  height: 90%;
}

.flexItem:nth-of-type(1) {
  flex-basis: 200px;
  flex-grow: 1;
}
.flexItem:nth-of-type(2) {
  flex-grow: 5;
  flex-basis: 700px;
}

.flexBody {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#portfolioPane {
  border-top: none;
}
