/* ReactTabs */
.react-tabs__tab--disabled {
  cursor: not-allowed !important;
}

.react-tabs__tab--selected {
  border: 2px solid #aaa !important;
  border-bottom: none !important;
}

.react-tabs__tab {
  padding: 6px 25px !important;
  border-radius: 10px 10px 0 0 !important;
}

.react-tabs {
  height: 100%;
}

.react-tabs__tab-panel {
  height: inherit;
  background-color: #fff;
  border: 2px solid #41403e;
}

.react-tabs__tab-list {
  margin: 0 0 0px !important;
  border-bottom: none;
}

.react-tabs__tab:nth-of-type(1) {
  background-color: #deefff;
}

.react-tabs__tab:nth-of-type(2) {
  background-color: #f5f0c6;
}
