/* ReactTabs */
.react-tabs__tab--disabled {
  cursor: not-allowed !important;
}

.react-tabs__tab--selected {
  border: 2px solid #aaa !important;
  border-bottom: none !important;
}

.react-tabs__tab {
  padding: 6px 25px !important;
  border-radius: 10px 10px 0 0 !important;
}

.react-tabs {
  height: 100%;
}

.react-tabs__tab-panel {
  height: inherit;
  background-color: #fff;
}

.react-tabs__tab-list {
  margin: 0 0 0px !important;
  border-bottom: none !important;
}

.react-tabs__tab:nth-of-type(1) {
  background-color: #deefff;
}

.react-tabs__tab:nth-of-type(2) {
  background-color: #f5f0c6;
}

.react-tabs__tab-panel {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.react-tabs__tab-panel:before,
.react-tabs__tab-panel:after {
  content: '';
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.react-tabs__tab-panel:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.react-tabs__tab-panel:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
